OPENROUTER_API_KEY=
OPENROUTER_MODEL=deepseek/deepseek-chat
TAVILY_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=desafio-agentes-ia-banco-agil
